<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="abxch.WebsiteUITest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <abxch.WebsiteUITest.Properties.Settings>
      <setting name="Test" serializeAs="String">
        <value/>
      </setting>
      <setting name="Website" serializeAs="String">
        <value/>
      </setting>
      <setting name="Browser" serializeAs="String">
        <value/>
      </setting>
      <setting name="ClearLogOnNewTest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartTestAtStep" serializeAs="String">
        <value/>
      </setting>
      <setting name="PauseOnStep" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PauseOnStepValue" serializeAs="String">
        <value/>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>C:\Workspace\abxchUITestLogs\</value>
      </setting>
      <setting name="IDList" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastCreatedQuoteEffectiveDate" serializeAs="String">
        <value/>
      </setting>
    </abxch.WebsiteUITest.Properties.Settings>
  </userSettings>
</configuration>
